
<div class="applink">
  <a href="https://itunes.apple.com/ca/app/modes/id1445358435?mt=8"><img src="/assets/appstore.svg"><br />Get SynthModes for iOS</a>
</div>

<a href="https://shop.burns.ca/products/modular-drums-001-bia-techno">
<div class="samplepack">
  <div class="samplepack-content">
    <div class="samplepack-image">
      <img src="https://cdn.shopify.com/s/files/1/0169/5584/products/image_150x.jpg?v=1574437087">
    </div>
    <div class="samplepack-text">
      <b>500+ Samples of the Noise Engineering Basimilus Iteritas Alter for $5</b>
      <p>Support SynthModes by buying our new sample pack.  Free demo pack available!</p>
      </p>
    </div>
  </div>
</div>
</a>

<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
