body {
     font-family: -apple-system, sans-serif;
}

.led {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
}

.orange {
  background-color: #ff9e20;
}

.red {
  background-color: #f41252;
}

.green {
  background-color: #00928f;
}

.flashing-green {
  border: 0px;
  background-color: #00928f;
  box-shadow: 0 0 10px #00928f, inset 0 0 10px #00928f;
}

.flashing-orange {
  border: 0px;
  background-color: #ff9e20;
  box-shadow: 0 0 10px #ff9e20, inset 0 0 10px #ff9e20;
}

.flashing-red {
  border: 0px;
  background-color: #f41252;
  box-shadow: 0 0 10px #f41252, inset 0 0 10px #f41252;
}

.white {
  background-color: #ffffff;
}

.leds {
  text-align: center;
}

.centered {
text-align: center;
}

.content {
  max-width: 700px;
  align-self: center;
  display: inline-block
}

.fullwidth {
  width: 100%;
}

.centered {
  margin: auto;
}

.knob {
  margin: auto;
  width: 50px;
  height: 50px;
  background-color: white;
  border: 5px solid;
  border-radius: 50%;
}

.knob-ccw {
  transform: translate(25px, 20px) rotate(140deg) translateX(15px);
  transform-origin: left;
}

.knob-cw {
  transform: translate(25px, 20px) rotate(40deg) translateX(15px);
  transform-origin: left;
}

.knob-center {
  transform: translate(25px, 20px) rotate(-90deg) translateX(15px);
  transform-origin: left;
}

.knob-wiper {
  width: 18px;
  display: block;
  height: 6px;
  background-color: white;
  color: green;
}

.att {
  margin: auto;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
}

.att-center {
  transform: translate(10px, 8px) rotate(-90deg) translateX(6px);
  transform-origin: left;
}

.att-ccw {
  transform: translate(10px, 8px) rotate(140deg) translateX(6px);
  transform-origin: left;
}

.att-cw {
  transform: translate(10px, 8px) rotate(40deg) translateX(6px);
  transform-origin: left;
}

.steel {
  background-color: #bbbbbb;
  text-align: center;
  max-width: 300px;
}

.att-wiper {
  width: 5px;
  display: block;
  height: 3px;
  background-color: white;
  color: green;
}

td {
  text-align: center;
}

h3 {
  text-align: left;
}