body {
     font-family: -apple-system, sans-serif;
}
.orange {
  background-color: #ff9e20;
}

.green {
  background-color: #00ee00;
}

.red {
  background-color: #f41252;
}

.blue {
  background-color: #00928f;
}

.white {
  background-color: #ffffff;
}

.leds {
  text-align: center;
}

.led {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid;
  text-align: center;
  display: inline-block;
  margin: 10px;
}

.bigknob {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  border: 3px solid;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

.smallknob {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 3px solid;
  text-align: center;
  display: inline-block;
  margin: 10px;
}

.centered {
text-align: center;
}

.content {
  max-width: 700px;
  align-self: center;
  display: inline-block;
  text-align: left;
}

.fullwidth {
  width: 100%;
}

h3 {
  text-align: left;
}

td {
    text-align: center;
    vertical-align: top;
}

.blend {
  text-align: left;
  vertical-align: middle;
}

.button {
  background-color: #007dd8;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 6px;
  width: 100%;
}
