---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.applink {
	margin-left: 20px;
	margin-top: 20px;
}

.samplepack {
	background-color: #eeeeee;
	margin: 20px;
	border: 2px solid #999999;
	border-radius: 5px;
	padding: 7px;
}

.samplepack-content {
	display: flex;
}

.samplepack-text {
	margin-left: 10px;
}
