.tableheader {
	background-color: #eeeeee; 
	padding: 5;
}

@media screen and (prefers-color-scheme: dark) {
  .tableHeader {
  	background-color: #292a30; 
  }

  img {
  	-webkit-filter: invert(100%);
  	filter: invert(100%);
  }
}

.knob {
	margin: auto;
	margin-top: 5px;
	margin-bottom: 3px;
}

.mbutton {
	border: 5px solid;
	border-radius: 15%;
	width: 35pt;
	height: 24pt;
	margin: auto;
	margin-top: 5px;
}

.widerChart tr td:first-child {
  margin: auto;
  width: 25%;
}

.widerChart tr td {
	padding: 5px;
}

.bordered tr {
	border: 1px solid;
}

.triangle {
	position: relative;
	background-color: orange;
	text-align: left;
}
.triangle:before,
.triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
	width:  10em;
	height: 10em;
	border-top-right-radius: 30%;
}

.triangle {
	transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}

.triangle-left:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}
