.tableheader {
	background-color: #eeeeee; 
	padding: 5;
}

@media screen and (prefers-color-scheme: dark) {
  .tableHeader {
  	background-color: #292a30; 
  }

  img {
  	-webkit-filter: invert(100%);
  	filter: invert(100%);
  }
}

.widerChart tr td:first-child {
  margin: 5px;
  width: 25%;
}

.widerChart tr td {
	padding: 5px;
}

.bordered tr {
	border: 1px solid;
}

.preset {
	background-color: #c63e61;
	color: white;
	margin: 2px;
	border-radius: 5%;
}
